body {
    font-size: .75rem;
}


[class*="col-"] {
    color: white;
    background-color: #006cfa;
    border: 1px solid white;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested {
    background-color: lightgreen;
    margin: .25rem;
}

